package router

import (
	"net/http"

	"github.com/PereRohit/util/constant"
	"github.com/PereRohit/util/middleware"
	"github.com/gorilla/mux"

	"{{.Module}}/internal/handler"
)

func Register() *mux.Router {
	m := mux.NewRouter()

	m.StrictSlash(true)
	m.Use(middleware.RequestHijacker)
	m.Use(middleware.RecoverPanic)

	svc := handler.New{{.Service}}()

	m.HandleFunc(constant.HealthRoute, svc.HealthCheck)
	m.NotFoundHandler = http.HandlerFunc(svc.RouteNotFound)
	m.MethodNotAllowedHandler = http.HandlerFunc(svc.MethodNotAllowed)

	return m
}
