package logic

import (
	"net/http"

	"github.com/PereRohit/util/log"
    respModel "github.com/PereRohit/util/model"

	"{{.Module}}/internal/model"
	"{{.Module}}/internal/repo/datasource"
)

//go:generate mockgen --build_flags=--mod=mod --destination=./../../pkg/mock/mock_logic.go --package=mock {{.Module}}/internal/logic {{.Service}}LogicIer

type {{.Service}}LogicIer interface {
	Ping(*model.PingRequest) *respModel.Response
    HealthCheck() bool
}

type {{.service}}Logic struct{
	dummyDsSvc datasource.DataSource
}

func New{{.Service}}Logic(ds datasource.DataSource) {{.Service}}LogicIer {
	return &{{.service}}Logic{
		dummyDsSvc: ds,
    }
}

func (l {{.service}}Logic) Ping(req *model.PingRequest) *respModel.Response {
	// add business logic here
	res, err := l.dummyDsSvc.Ping(&model.PingDs{
    	Data: req.Data,
    })
    if err != nil {
        log.Error("datasource error", err)
    	return &respModel.Response{
    		Status:  http.StatusInternalServerError,
    		Message: "",
    		Data:    nil,
    	}
    }
    return &respModel.Response{
    	Status:  http.StatusOK,
    	Message: "Pong",
    	Data:    res,
    }
}

func (l {{.service}}Logic) HealthCheck() bool {
	// check all internal services are working fine
	return l.dummyDsSvc.HealthCheck()
}