package logic

import (
	"net/http"

	respModel "github.com/PereRohit/util/model"
	"{{.Module}}/internal/model"
)

//go:generate mockgen --build_flags=--mod=mod --destination=./../../pkg/mock/mock_logic.go --package=mock {{.Module}}/internal/logic {{.Service}}LogicIer

type {{.Service}}LogicIer interface {
	Ping(*model.PingRequest) *respModel.Response
}

type {{.Service}}Logic struct{}

func New{{.Service}}Logic() {{.Service}}LogicIer {
	return &{{.Service}}Logic{}
}

func (l {{.Service}}Logic) Ping(req *model.PingRequest) *respModel.Response {
	// add your business logic here
	return &respModel.Response{
		Status:  http.StatusOK,
		Message: "Pong",
		Data:    req.Data,
	}
}
